.range hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background:  linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    

}

.progress-bar{
    background:  linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
}