*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-color: #161513;
  color: white;
  font-family: 'outfit';
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.title {
  position: relative;
}

.title h1 {
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 600;
}

.title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}