html {
    scroll-behavior: smooth;
  }

  body::-webkit-scrollbar {
    width: 12px;
    margin: 0;
  }
  
  body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(62, 63, 65);
  }
  
  body::-webkit-scrollbar-thumb {
    background:  linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    border-radius: 10px;
  }